<div class="dialog-content-wrapper search-dialog">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Search</span>
            <button tabindex="-1" mat-icon-button (click)="close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <!-- <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar> -->
    <div mat-dialog-content class="p-24 pb-0 m-0">

        <form name="searchForm" [formGroup]="searchForm" novalidate>
            <div flex="100%" fxLayout="row wrap" fxLayoutAlign="start center">
                <div class="padding15" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Motor Carrier Name</mat-label>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <input matInput formControlName="mcName">
                    </mat-form-field>
                </div>
                <div class="padding15" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>SCAC Code</mat-label>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <input matInput placeholder="SCAC Code" formControlName="scac">
                    </mat-form-field>
                </div>
            </div>
        </form>

    </div>
    <mat-divider>
    </mat-divider>
    <div mat-dialog-actions class="m-0" fxLayout="row" fxLayoutAlign="end center">
        <button (click)="search()" mat-raised-button color="accent" class="dialog-footer-btn" aria-label="ADD">
            <mat-icon >search</mat-icon> Search
        </button>
        <button (click)="clear()" mat-raised-button color="primary" class="dialog-footer-btn" aria-label="RESET">
            <mat-icon >refresh</mat-icon> Reset
        </button>
    </div>
</div>