.tp_t_l_bg {
    background: #e75622;
    border-radius: 0px 0 14px 14px;
    padding: 3px 10px 10px 10px;
    align-items: self-end !important;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    line-height: 20px;
}