<div id="forgotPassword" fxLayout="column" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div class="logo text-center" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img class="left-logo" src="assets/images/UIIALogo.png" height="85">
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="boxshadow">

            <div flex="33%" fxFlex fxHide fxShow.gt-xs>
                <div id="login-form" class="leftBox" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

                    <div class="title text-center uiia" 
                        [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
                        <b> UIIA</b>
                    </div>

                    <div class="description text-center" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
                        UNIFORM INTERMODEL INTERCHANGE AND FACILITIES ACCESS AGREEMENT
                    </div>

                </div>
            </div>

            <div flex="35%" >
                <div id="login-form" class="rightBox" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">



                    <div class="title text-center" style="font-size: 13px;"
                        [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
                        <p>If your company does not have your SCAC code,the UIIA contact on file for your company can request your password information via e-mail to uiia@intermodal.org.</p>
                        <b>Please note that request must be submitted by the UIIA contact on file as this information will not be released to any other party.</b>
                    </div>

                    <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                        <mat-form-field appearance="outline">
                            <mat-label>SCAC Code</mat-label>
                            <input matInput formControlName="accountNumber">
                            <mat-icon matSuffix class="secondary-text">person_outline</mat-icon>
                            <mat-error *ngIf="forgotPasswordForm.get('accountNumber').hasError('required')">
                                Account Number is required
                            </mat-error>
                            <mat-error *ngIf="forgotPasswordForm.get('accountNumber').hasError('pattern')">
                                Account Number is not valid
                            </mat-error>
                            <mat-error *ngIf="forgotPasswordForm.get('accountNumber').hasError('maxlength')">
                                Account Number should be less than 50 character.
                            </mat-error>
                        </mat-form-field>



                        <button mat-raised-button (click)="forgotPassword()" class="submit-button" color="accent"
                            aria-label="LOGIN" [disabled]="forgotPasswordForm.invalid || loader">
                            <mat-icon class="login_icon">send</mat-icon> <span>Send Reset Link</span>
                            <i *ngIf="loader" class="loader-show">
                                <mat-spinner style="display: inline;" strokeWidth="3" [diameter]="20"></mat-spinner>
                            </i>
                        </button>
                    </form>
                    <div class="message">
                        <a class="link" [routerLink]="['/EPWEB/auth/login']">Go back to login</a>
                    </div>
                </div>
            </div>
        </div>




    </div>

</div>