<div id="companyProfile">
    <div fxLayout="row wrap" class="p-15">

        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayout.xs="column" fxLayout="row" class="m-b-10">
            <h1 fxFlex="25%" class="main_title">View Account Info</h1>
        </div>

        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayoutAlign="start start">
            <mat-tab-group (selectedTabChange)="tabChanged()" dynamicHeight>


                <mat-tab label="Company Details">
                    <div id="companyProfile">
                        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                            <form name="companyForm">
                                <div class="content" fxLayout="row wrap">
                                    <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start center">

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Company Name</mat-label>
                                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                <input readonly name="companyName" matInput required />
                                                <mat-error>  Company Name is required.  </mat-error>
                                            </mat-form-field>
                                        </div>


                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Addl. Entities To Be Listed As Addl. Insureds</mat-label>
                                                <input name="addentities" matInput />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>SCAC Code</mat-label>
                                                <input readonly name="scaccode" matInput />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Account Number</mat-label>
                                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                <input readonly name="accountNumber" matInput required />
                                            </mat-form-field>
                                        </div>


                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Company Url</mat-label>
                                                <input readonly name="companyurl" matInput />
                                            </mat-form-field>
                                        </div>


                                        <div class="p-l-r-15" fxFlex="19%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-select id="contactMrMs" placeholder="Type of Equipment Provider">
                                                    <mat-option>
                                                        IMC
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15 hit_45" fxFlex="13%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-checkbox>Iana Member?</mat-checkbox>
                                        </div>

                                    </div>

                                    <div fxFlex="100%" fxLayout="row wrap" class="p-l-r-15 mb-20">
                                        <div fxFlex="100%" fxLayoutAlign="center center" fxFlex.xs="100%" fxFlex.sm="100%">
                                                <button type="submit" mat-raised-button color="accent" class="Update-btn">
                                                    <mat-icon>edit</mat-icon> Update
                                                    <!-- <i *ngIf="loader" class="loader-show">
                                                    <mat-spinner style="display: inline;" strokeWidth="3"
                                                        [diameter]="20">
                                                    </mat-spinner>
                                                     </i> -->
                                                </button>
                                                <button mat-raised-button type="button" color="warn" class="Back-btn">
                                                    <mat-icon>refresh</mat-icon> Reset</button>

                                                <button mat-raised-button class="mlr-10">Next <mat-icon>chevron_right</mat-icon></button>
                                                    

                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Status Details">
                    <div id="statusDetails">
                        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                            <form name="companyForm">
                                <div class="content" fxLayout="row wrap">
                                    <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start center">


                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-select id="uiiaStatus" placeholder="UIIA Status">
                                                    <mat-option>
                                                        Active
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>



                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Activated Dated</mat-label>
                                                <mat-icon matSuffix class="secondary-text">calendar_today</mat-icon>
                                                <input readonly name="ActivatedDated" matInput />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Cancelled Date</mat-label>
                                                <mat-icon matSuffix class="secondary-text">calendar_today</mat-icon>
                                                <input readonly name="cancelledDate" matInput />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Re-Instated Date</mat-label>
                                                <mat-icon matSuffix class="secondary-text">calendar_today</mat-icon>
                                                <input readonly name="reInstatedDate" matInput />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Deleted Date</mat-label>
                                                <mat-icon matSuffix class="secondary-text">calendar_today</mat-icon>
                                                <input readonly name="deletedDate" matInput />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Billed Date</mat-label>
                                                <mat-icon matSuffix class="secondary-text">calendar_today</mat-icon>
                                                <input readonly name="billedDate" matInput />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-select id="levelOfService" placeholder="Level Of Service">
                                                    <mat-option>
                                                        Lavel 1
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15 hit_45" fxFlex="11.11%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-checkbox>IDD Flag</mat-checkbox>
                                        </div>
                                        <div class="p-l-r-15 hit_45" fxFlex="11.11%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-checkbox>Invoice Required?</mat-checkbox>
                                        </div>
                                        <div class="p-l-r-15 hit_45" fxFlex="11.11%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-checkbox>NO Reporting</mat-checkbox>
                                        </div>
                                    </div>

                                    <div fxFlex="100%" fxLayout="row wrap" class="p-l-r-15 mb-20">
                                        <div fxFlex="100%" fxLayoutAlign="center center" fxFlex.xs="100%" fxFlex.sm="100%">
                                            
                                            <button mat-raised-button class="mlr-10"><mat-icon>chevron_left</mat-icon> Previous</button>
                                            
                                            <button type="submit" mat-raised-button color="accent" class="Update-btn">
                                                    <mat-icon>edit</mat-icon> Update
                                                    <!-- <i *ngIf="loader" class="loader-show">
                                                    <mat-spinner style="display: inline;" strokeWidth="3"
                                                        [diameter]="20">
                                                    </mat-spinner>
                                                     </i> -->
                                                </button>
                                                <button mat-raised-button type="button" color="warn" class="Back-btn">
                                                    <mat-icon>refresh</mat-icon> Reset</button>
                                                
                                                    <button mat-raised-button class="mlr-10">Next <mat-icon>chevron_right</mat-icon></button>
                                        </div>
                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="UIIA Contact Info">
                    <div id="uiiaContactInfo">
                        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                            <form name="companyForm">
                                <div class="content" fxLayout="row wrap">
                                    <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start center">
                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <div flex="100%" fxLayout="row wrap" fxLayoutAlign="start center">

                                                <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%" style="margin-right: 10px;">
                                                    <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                        <mat-select id="contactMrMs" placeholder="Mr./Ms.">
                                                            <mat-option>
                                                                MR
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>

                                                <div fxFlex="67.6%" fxFlex.xs="100%" fxFlex.sm="65%">
                                                    <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                        <mat-label>First Name</mat-label>
                                                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                        <input name="contactFirstName" matInput required />
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Middle Name</mat-label>
                                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                <input name="contactMiddleName" matInput />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Last Name</mat-label>
                                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                <input name="contactLastName" matInput required />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Salutation </mat-label>
                                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                <input name="Salutation" matInput required />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Suffix</mat-label>
                                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                <input matInput name="contactSuffix" />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Title</mat-label>
                                                <mat-icon matSuffix class="secondary-text">edit</mat-icon>
                                                <input readonly name="title" matInput />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Email</mat-label>
                                                <mat-icon matSuffix class="secondary-text">email</mat-icon>
                                                <input name="contactEmail" class="text-box-lower-case" matInput
                                                    required />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Secondary Email</mat-label>
                                                <mat-icon matSuffix class="secondary-text">email</mat-icon>
                                                <input name="secondaryEmail" class="text-box-lower-case" matInput
                                                    required />
                                            </mat-form-field>
                                        </div>



                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Address Line 1</mat-label>
                                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                <input name="busaddln1" matInput required />

                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Address Line 2</mat-label>
                                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                <input name="busaddln2" matInput />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Zip/Postal Code</mat-label>
                                                <input matInput required />
                                            </mat-form-field>
                                        </div>
                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>City</mat-label>
                                                <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                                                <input name="city" matInput />
                                            </mat-form-field>
                                        </div>
                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>State/Province</mat-label>
                                                <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                                                <input name="state" class="text-box-upper-case" matInput required />
                                            </mat-form-field>
                                        </div>
                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Country</mat-label>
                                                <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                                <input name="country" class="text-box-upper-case" matInput required />

                                            </mat-form-field>
                                        </div>
                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Phone No.</mat-label>
                                                <mat-icon matSuffix class="secondary-text">local_phone</mat-icon>
                                                <input name="phone" matInput required />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Secondary Phone No.</mat-label>
                                                <mat-icon matSuffix class="secondary-text">local_phone</mat-icon>
                                                <input name="secondaryPhone" matInput required />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Fax No</mat-label>
                                                <mat-icon matSuffix class="secondary-text">print</mat-icon>
                                                <input name="fax" matInput required />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Secondary Fax No</mat-label>
                                                <mat-icon matSuffix class="secondary-text">print</mat-icon>
                                                <input name="secondaryFax" matInput required />
                                            </mat-form-field>
                                        </div>

                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-label class="fwb">Billing Contact Info Same As UIIA Contact Info?</mat-label>
                                            <mat-radio-group aria-label="Billing Contact Info Same As UIIA Contact Info">
                                                <mat-radio-button value="1">Yes</mat-radio-button>
                                                <mat-radio-button value="2">No</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-label class="fwb">Dispute Contact Info Same As UIIA Contact Info?</mat-label>
                                            <mat-radio-group aria-label="Billing Contact Info Same As UIIA Contact Info">
                                                <mat-radio-button value="1">Yes</mat-radio-button>
                                                <mat-radio-button value="2">No</mat-radio-button>
                                            </mat-radio-group>
                                        </div>


                                    </div>

                                    <div fxFlex="100%" fxLayout="row wrap" class="p-l-r-15 mt-20 mb-20">
                                        <div fxFlex="100%" fxLayoutAlign="center center" fxFlex.xs="100%" fxFlex.sm="100%">
                                            
                                            <button mat-raised-button class="mlr-10"><mat-icon>chevron_left</mat-icon> Previous</button>
                                            
                                            <button type="submit" mat-raised-button color="accent" class="Update-btn">
                                                    <mat-icon>edit</mat-icon> Update
                                                    <!-- <i *ngIf="loader" class="loader-show">
                                                    <mat-spinner style="display: inline;" strokeWidth="3"
                                                        [diameter]="20">
                                                    </mat-spinner>
                                                     </i> -->
                                                </button>
                                                <button mat-raised-button type="button" color="warn" class="Back-btn">
                                                    <mat-icon>refresh</mat-icon> Reset</button>
                                                
                                                <button mat-raised-button class="mlr-10">Next <mat-icon>chevron_right</mat-icon></button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Change Password">
                    <div id="ChangePassowrd">
                        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                            <form name="changePasswordForm" novalidate>
                                <div class="content" fxLayout="row wrap">
                                    <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center center">
                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Password</mat-label>
                                                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                                                <input required name="newPassword" id="newPassword" matInput />

                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center center">
                                        <div class="p-l-r-15" fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="50%">
                                            <mat-form-field class="widthfull" appearance="outline" fxFlex>
                                                <mat-label>Confirm Password</mat-label>
                                                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                                                <input required type="password" name="confirmPassword"
                                                    id="confirmPassword" matInput />

                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div fxFlex="100%" fxLayout="row wrap" class="p-l-r-15 mb-20">
                                        <div fxFlex="100%" fxLayoutAlign="center center" fxFlex.xs="100%"
                                            fxFlex.sm="100%">
                                            <div fxLayout="row">
                                               
                                                <button mat-raised-button class="mlr-10"><mat-icon>chevron_left</mat-icon> Previous</button>
                                               
                                                <button type="button" mat-raised-button color="accent"
                                                    class="Update-btn">
                                                    <mat-icon>edit</mat-icon> Update
                                                </button>

                                                <button mat-raised-button type="button" color="warn" class="Back-btn">
                                                    <mat-icon>refresh</mat-icon> Clear
                                                </button>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>


</div>