#uiiaInvoice{

    .txt_center{justify-content:center !important;}
    .vacenter{vertical-align: middle !important;}
    .action_btn{flex: auto !important;width: 22% !important;}
    .mat-row:hover  {
        background-color: #039be5 !important;
        color: white !important;
    }

}

