.menu-hover:hover {
    background-color: #fff !important;
    color: #039be5 !important;
    font-weight: bold !important;
    border: 1px solid #818181 !important;
    box-shadow: inset 0 3px 10px #cbcbcb !important;
}

