<div id="resetPassword" fxLayout="column" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div class="logo text-center" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img class="left-logo" src="assets/images/UIIALogo.png" height="85">
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="boxshadow">

            <div flex="33%" fxFlex fxHide fxShow.gt-xs>
                <div id="login-form" class="leftBox" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

                    <div class="title text-center uiia" 
                        [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
                        <b> UIIA</b>
                    </div>

                    <div class="description text-center" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
                        UNIFORM INTERMODEL INTERCHANGE AND FACILITIES ACCESS AGREEMENT
                    </div>

                </div>
            </div>

            <div flex="33%">
                <div id="login-form" class="rightBox" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">



                    <div class="title text-center" style="font-size: 18px;"
                        [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
                        <b> Insurance Agent</b>
                    </div>

                    <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                        <mat-form-field appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput [type]="isNewPassword ? 'password' : 'text'" formControlName="newpassword">
                            <mat-icon class="pointer" matSuffix (click)="isNewPassword = !isNewPassword">
                                {{isNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="resetPasswordForm.get('newpassword').hasError('required')">
                                New Password is required
                            </mat-error>
                            <mat-error *ngIf="resetPasswordForm.get('newpassword').hasError('maxlength')">
                                New Password should be less than 35 character.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput [type]="isNewCPassword ? 'password' : 'text'"
                                formControlName="confirmpassword">
                            <mat-icon class="pointer" matSuffix (click)="isNewCPassword = !isNewCPassword">
                                {{isNewCPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="resetPasswordForm.get('confirmpassword').hasError('required')">
                                Password confirmation is required
                            </mat-error>
                            <mat-error *ngIf="!resetPasswordForm.get('confirmpassword').hasError('required') &&
                                           resetPasswordForm.get('confirmpassword').hasError('passwordsNotMatching')">
                                Passwords must match
                            </mat-error>
                            <mat-error *ngIf="resetPasswordForm.get('confirmpassword').hasError('maxlength')">
                                Confirm Password should be less than 35 character.
                            </mat-error>
                        </mat-form-field>



                        <button mat-raised-button (click)="resetPassword()" class="submit-button" color="accent"
                            aria-label="LOGIN" [disabled]="resetPasswordForm.invalid || loader">
                            <span>RESET MY PASSWORD</span>
                            <i *ngIf="loader" class="loader-show">
                                <mat-spinner style="display: inline;" strokeWidth="3" [diameter]="20"></mat-spinner>
                            </i>
                        </button>
                    </form>
                    <div class="message">
                        <a class="link" [routerLink]="'/EPWEB/auth/login'">Go back to login</a>
                    </div>
                </div>
            </div>
        </div>




    </div>

</div>