<footer>
    <mat-toolbar class="footer">
  
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>
  
        <div fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center">
          <a mat-button style="cursor:text;">© Copyright 2020 Intermodal Association of North America.</a>
        </div>
  
        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
          <span>&bull;</span>
          <a target="_blank" mat-button href="https://uiia.org/forms/contact-us">Contact Us</a>
          <span>&bull;</span>
          <a target="_blank" mat-button href="https://intermodal.org/privacy-policy">Privacy Policy</a>
        </div>
  
      </div>
  
    </mat-toolbar>
  </footer>