#secondary-user-details
{
.txt_center{justify-content:center !important;}
    .vacenter{vertical-align: middle !important;}
    .delete_row {background-color: #f9eaea !important;pointer-events: none;
        // pointer-events: none;
    }

}