<div id="notifications">
    <mat-card class="ns app-notes">
        NOTE: After search results are returned, click on MC Company Name for detailed information for MC.
    </mat-card>
    <div fxLayout="row wrap">

        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%"
            [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}" class="ptlbr-24">
            <div class="widget-back1">

                <div fxLayout="row">
                    <mat-chip-list class="search-chip">
                        <mat-chip class="cursorPointer search_label">
                            <span class="search_name">
                                MC Name
                            </span>
                            <span class="search_value"> Transport</span>
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>

                        <mat-chip class="cursorPointer search_label">
                            <span class="search_name"> MC SCAC Code </span>
                            <span class="search_value"> OZOT </span>
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>

                        <mat-chip class="cursorPointer search_label">
                            <span class="search_name"> Known As Code </span>
                            <span class="search_value"> OZOT </span>
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>

        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayout.xs="column" fxLayout="row" class="p-lr-24 m-t-10">
            <h1 fxFlex="55%" class="main_title">MC Specific Addendum Details</h1>

            <div fxFlex="45%" fxLayoutAlign="end center">
                <div>
                    <button (click)="openSearchModel()" mat-icon-button aria-label="more"
                        class=" search-btn-icon-font m-l-15">
                        <mat-icon class="fwb">search</mat-icon>
                        Search
                    </button>
                </div>
            </div>
        </div>

        <div [@animate]="{value:'*',params:{y:'100%'}}" class="widget p-lr-24" fxLayout="column" fxFlex="100"
            fxFlex.gt-xs="100" fxFlex.gt-md="100">
            <div class="widget-front">

                <mat-table matSort [dataSource]="dataSource" class="m-10">
                    <ng-container matColumnDef="mcName">
                        <mat-header-cell *matHeaderCellDef>Mc Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let i" data-label="Mc Name">
                            <div class="MB-cell-width">
                                <a href="#" class="link_c" [routerLink]="['/EPWEB/user/epShowTemplate']">{{i.mcName}}</a>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="mcSCAC">
                        <mat-header-cell *matHeaderCellDef>MC SCAC
                        </mat-header-cell>
                        <mat-cell *matCellDef="let i" data-label="MC SCAC">
                            <div class="MB-cell-width">
                                {{i.mcSCAC}}
                            </div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="mcAcctNo">
                        <mat-header-cell *matHeaderCellDef>MC Acct. No.
                        </mat-header-cell>
                        <mat-cell *matCellDef="let i" data-label="MC Acct. No.">
                            <div class="MB-cell-width">
                                {{i.mcAcctNo}}
                            </div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="mcEpStatus">
                        <mat-header-cell *matHeaderCellDef>MC EP Status
                        </mat-header-cell>
                        <mat-cell *matCellDef="let i" data-label="MC EP Status">
                            <div class="MB-cell-width">
                                <a href="javascript:void(0);" class="link_c NOT_APPROVED" (click)="epRequirement()">{{i.mcEpStatus}}</a>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="overrideUsed">
                        <mat-header-cell *matHeaderCellDef>Override Used
                        </mat-header-cell>
                        <mat-cell *matCellDef="let i" data-label="Override Used">
                            <div class="MB-cell-width">
                                {{i.overrideUsed}}
                            </div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="epMember">
                        <mat-header-cell *matHeaderCellDef>EP Member
                        </mat-header-cell>
                        <mat-cell *matCellDef="let i" data-label="EP Member">
                            <div class="MB-cell-width">
                                {{i.epMember}}
                            </div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="knownAs">
                        <mat-header-cell *matHeaderCellDef>Known As
                        </mat-header-cell>
                        <mat-cell *matCellDef="let i" data-label="Known As">
                            <div class="MB-cell-width">
                                {{i.knownAs}}
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let i; columns: displayedColumns">
                    </mat-row>
                </mat-table>
            </div>
            <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                <mat-paginator #paginator [length]="dataSource.data.length" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>

        </div>

    </div>
</div>