#eptemplate{


    .table_input{min-height: 50px !important;
        margin-bottom: 0px !important;
        height: 50px;
        padding: 0px !important;}
    .mat-form-field-wrapper{padding:  0!important;}




//.mat-form-field-appearance-outline{background: #fff !important;}
//.mat-form-field-outline{background: #fff !important;}


}