#delete_comfirm{
    padding: 20px !important;
    .mat-dialog-actions{padding:15px 0 0 0 !important;    justify-content: center;}
    .mat-dialog-title {
        font-size: 20px !important;
        font-weight: 600 !important;
    }
}